/*Everything*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif ;
}
button{
    font-family:'Times New Roman', Times, serif ;
}
footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    opacity: 1;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
    height: 80%;
    
}
.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.5;
    height: 60%;
}
.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: 0;
    opacity: 0.7;
    height: 40%;
}

/*header*/

header{
    display: flex;
    height: 10vh;
    width: 80%;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links,.cart{
    display: flex;
}
.logo-container{
    flex: 1;
}
.logo{
    margin: 5px;
    font-weight: 400;
}
nav{
    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    
    position: relative;
}
.nav-link{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.dropbutton {
    color: black;
    font-size: 18px;
    text-decoration: none;
    
    background-color: transparent;
    border: none;
}
.dropbtn2 {
    font-size: 85%;
    background-color: #6E849C;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 200px;
    z-index: 1;
    text-decoration: none;
}
.dropdown-content a {
    background-color: #c36cbb;
    border: 6px solid black;
    border-radius: 15px;
    padding: 12px 16px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color:black
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*Home*/

.cart{
    flex: 1;
    justify-content: flex-end;
}
.presentation{
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introdction{
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color:#582772;
}
.call-to-action{
    padding: 50px 0px 0px 0px;
}
.call-to-action-add{
    background: #c36cbb;
    width: 150px;   
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 30px 0px 0px 30px;
}
.call-to-action-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cover{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}
.laptop-select{
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 24%;
}
.index-footer{
    margin-top: 40px;
}

/*Shop*/

.main-text-shop{
    display: flex;
    justify-content: center;
}
.main-text-shop h1{
    margin-top: 40px;
    font-size: 40px;
}
.main-img-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}
.main-img-shop img{
    width: 200px;
    margin-top: 50px;
    margin-bottom: 10px;
    animation: drop 1.5s ease;
    transition: 1s;
}
.sec-main-img-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
}
.sec-main-text-shop, .price-shop{
    display: flex;
    justify-content: center;
}
.sec-main-text-shop p, .sec-main-text-shop h1{
    font-size: 20px;
    margin-bottom: 5px;
}
.price-shop p{
    font-size: 15px;
    margin-bottom: 5px;
}
.sec-main-img-shop img{
    height: 300px;
    animation: drop 1.5s ease;
    transition: 1s;
}
.call-to-action-products{
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    margin: auto;
    align-items: center;
    padding: 10px 46% 0px 0px;
}
.call-to-action-add-products{
    background: #c36cbb;
    height: 20px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 0px 0px 20px 0px;
}
.main-img-shop:hover{
    transform: scale(1.1);
}
.sec-main-img-shop:hover{
    transform: scale(1.1);
}
.dot {
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/*Contact*/

.first-main-section-contact{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    width: 25%;
    height: 200px;
    margin-right: 12%;
}
.first-main-section-contact img{
    border: solid lightgray 3px ;
    width: 120%;
    height: 120%;
}
.title-contacts{
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.sec-title-contacts, .third-main-text-contacts{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.title-contacts{
    margin-bottom: 1%;
}
.first-main-section-contact p{
    margin-right: 100px;
    flex: 1;
}
.main-text-contacts{
    margin: 2% 45% 10px 10%;
}
.sec-main-text-contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 60%;
}
.p1-contact{
    margin: 0% 0% 0% 18%;
}
.p2-contact{
    margin: 0% 4% 0% 0%;
}
.Contact-footer{
    margin: 300px 0px 0px 0px;
}
.big-text-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-left: 9%;
    margin-top: 5px;
}

/*About-us*/

.main-title-about{
    display: flex;
    justify-content: center;
}
.main-title-about h1{
    margin-top: 40px;
    font-size: 40px;
}
.workers-img-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 81%;
}
.workers-img-title h1{
    font-size: 30px;
    margin: 10px 0px 2px 0px;
}
.workers-img{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.workers-img img{
    height: 200px;
    margin: 0px 0px 5px 0px;
}
.about-us-footer{
    margin: 47px 0px 0px 0px;
}
.bread-text-contact{
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;

}

/*Dokumentation*/
.problem{
    display: flex;
    flex-direction: column;
}
.problem h1, .problem p{
    
}

/*Animation plus Media*/

@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width: 1024px) {
    .presentation{
        flex-direction: column;
    }
    .introdction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 20px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .laptop-select{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img {
        height: 30%;
    }
    .small-circle, .medium-circle, .big-circle{
      opacity: 0.2;
    }
    
}

/*Slide*/



/*Cart*/
